
#navbarSupportedContent{
    justify-content: flex-end;
}
#navbarSupportedContent.open {
    display: flex;
    justify-content: center;
    opacity: 1;
    height: auto;
}

#navbarToggler.navbar-toggler-icon.open{
    background-image: none
}
#navbar-close{
    display: none;
    color: white;
}
#navbar-close.open{
    display: inline;
}


#headerImage {
    max-width: 3em;
    margin-left: 1em;
    border-radius: 30px;
}

#navBar {
    padding: 1%;
    background-color: #1d1d1d;
}
